form{
    margin: 50px;
}

button{
    background-color: green;
    margin-bottom: 100px;
}
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}