<div class="home">
    <h1>Agregar canchas</h1>
   <form [formGroup]="fieldForm">
       <!--  <p class="text-danger">{{fieldError}}</p>/--> 
        <!--  /--> 
        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Tipo</label>
            <input formControlName="type" type="name" class="form-control" id="exampleInputName1">
            <div *ngIf="type?.invalid && (type?.dirty || type?.touched)"
            class="text-danger">
              <div *ngIf="type?.errors?.['required']">
              El tipo de cancha es requerido.
              </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Precio</label>
            <input formControlName="price" type="name" class="form-control" id="exampleInputName1">
            <div *ngIf="price?.invalid && (price?.dirty || price?.touched)"
            class="text-danger">
              <div *ngIf="price?.errors?.['required']">
              El precio es requerido.
              </div>
            </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Imagen URL</label>
          <input formControlName="imageUrl" type="imageUrl" class="form-control" id="exampleInputName1">
          <div *ngIf="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)"
          class="text-danger">
            <div *ngIf="imageUrl?.errors?.['required']">
            La imagen es requerida.
            </div>
          </div>
      </div>
<!-- <h1>Subir imagen</h1>
<input type="file" (change)="onFileSelected($event)">/--> 
<p><button type="submit" (click)="onUpload()" class="btn btn-primary">Subir</button></p>
